# Default target dimensions for images
WIDTH = '800'
HEIGHT = '600'

# Default folder paths (can be relative or absolute)
INPUT_FOLDER = './input'
OUTPUT_FOLDER = './output'

# Default processing settings
FORMAT = '.webp'
LIMIT = '10'